<section class="hero py-16">
  <div class="container mx-auto flex items-center justify-between">
    <div class="w-1/2">
      <h1 class="text-3xl md:text-6xl font-bold">Page Not Found!!</h1>
      <a href="/">
        <button
          class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary"
        >
          Go Back to Home
        </button>
      </a>
    </div>
    <div class="w-1/2 background-image">
      <img src="/img/hero-shop.jpg" alt="shop" class="h-full w-full" />
    </div>
  </div>
</section>
